// Oi
@import "cronograma.scss";
@import "hero.scss";

html {
  font-size: 10px;
}

@media (max-width: 440px) {
  html {
    font-size: 8px !important;
  }
}

body {
  background-color: black;
  color: white;
}
