#footer {
  margin-top: 6rem;

  background: url(../assets/cidade.png) repeat-x,
    linear-gradient(0deg, #26002d 0%, #01001a 100%);
  background-blend-mode: color-dodge;

  .gradient {
    width: 100%;
    height: 9rem;

    background: linear-gradient(
      180deg,
      #000000 1.67%,
      rgba(0, 0, 0, 0) 101.67%
    );
  }

  > #links {
    margin-top: 18rem;
    margin-left: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    gap: 10rem;

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0rem;
      gap: 6rem;

      > .link-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem;
        gap: 2rem;
        width: 40rem;
        height: 14rem;

        > .icon-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0rem;
          gap: 1rem;

          width: 14rem;
          height: 14rem;
        }

        > .link-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 3.2rem 0rem 3.2rem 1.6rem;
          gap: 1rem;

          width: 24rem;
          height: 14rem;

          > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0rem;
            gap: 1rem;
            color: white;
            text-decoration: none;
            font-family: "Roboto Mono";
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
          }

          .uem-icon {
            width: 1.5rem;
            height: 1.5rem;
          }

          // MUDAR COR DA BORDAR PARA CADA ELEMENTO
          border-left: 0.2rem solid #9dffa1;
        }
      }

      #uem > .icon-box > img {
        height: 14rem;
      }

      #caccom > .icon-box > img {
        height: 14rem;
      }

      #pet > .icon-box > img {
        width: 14rem;
      }

      #conectadas > .icon-box > img {
        height: 14rem;
      }

      #din > .icon-box > img {
        width: 14rem;
      }

      #cainfo > .icon-box > img {
        height: 14rem;
      }
    }
  }

  #made-by {
    margin-top: 18rem;
    margin-bottom: 2rem;
    display: inline-block;

    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.8rem;

    width: 100%;
    text-align: center;

    img {
      width: 1.8rem;
      height: 1.8rem;
      transform: perspective(14px);
      &:hover {
        transform: perspective(14px) rotateY(360deg);
        // transform: rotate(360deg) translate(2rem, 0rem) scale3d(1, 2, 3);
        transition: 0.5s;
      }
    }

    i {
      display: inline-block;
      &:hover {
        color: #9dff;
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: calc(900px + 5rem)) {
  #footer {
    #links {
      flex-wrap: wrap;
      gap: 6rem;
      > div {
        flex-wrap: wrap;
        flex-direction: column;
        // flex-direction: column;
        // justify-content: left;
        // align-items: flex-start;
        padding: 0rem;
        gap: 6rem;
      }
    }
  }
}
